<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Learning Flask</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='static/app.css'>
  <script src='static/app.js'></script>
</head>
<body>
  <p>Rendering HTML Templates with Flask!!!</p>
  <div>
    {% block main %}
      <h1>This is a Header on STRUCTURED_HTML_TEMPLATES</h1>
    {% endblock main %}
  </div>
</body>
</html>