{% extends 'base.html' %}
{% block title %}Home - Mundial Engineering{% endblock %}

{% block content %}
  <h2 style="color: green;">We Are Engineering Professionals</h2>
  <h3 style="text-align: center; color: green;">Committed To Standards… Delivering Solutions</h3>
  <br>
  <h6>
    MUNDIAL ENGINEERING is a broad spectra engineering solutions provider. We specialize in Engineering Consulting, 
    Design & Installation, Facility Management for Industrial, Commercial and Residential Buildings.
  </h6>
  <h6>
    We also carry out condition monitoring services using Thermal imaging cameras and power quality analyzers. 
    Our clients are mainly industrial and private end-users in the food and beverage industry,
    oil and gas industry, Telecoms, Original equipment manufacturers (OEMs), Hotels, facility owners and architects.
  </h6>
{% endblock %}