{% extends 'base.html' %} 
{% block title %}Create Note{% endblock %}

{% block content %}
  <h2>Start recording your Notes..</h2>
  <h3 style="text-align: center;">It's easy and only takes a few seconds</h3>
  <div class="formWrapper">
      <form id="accountCreate" action="/create_note" method="POST">
          <div class="formError"></div>
          <div class="inputWrapper">
            <div class="inputLabel">Enter Your Note Here</div>
            <input type="text" name="note" placeholder="" required />
          </div>
          <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta blue">Create Note</button>
          </div>
        </form>
  </div>
{% endblock %}